body {  /* Cambiar color de fondo */
    background: #8E0E00; 
    background: -webkit-linear-gradient(to right, #1F1C18, #ff1900);  
    background: linear-gradient(to right, #1F1C18, #fc1900); 
  }
  .navbar-brand {   /* cambiar la fuente de la letra UNA */
    font-family: 'Spicy Rice', cursive;
    font-size: 2.5rem !important; /* Cambiar tamaño */
  }
  .nav-link {
    text-transform: uppercase; /* Cambiar a mayúscula  */
    font-family: 'Spicy Rice', cursive; /* Cambiar fuente */
  }
  header img { /* definir ancho de la imagen */
    width: 50%;
  }
